.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  text-decoration-line: underline;
  color: inherit;
}

.place__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width:470px) {
  .place__link {
    margin: 0 16px;
  }
}
