.place {
  display: grid;
  grid-template-columns: calc(50.1% - 40px) 49.9%;
  grid-gap: 40px 48px;
  margin: 0 0 80px 0;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 32px 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 40px 28px;
  }
}

@media screen and (max-width:470px) {
  .place {
    grid-template-columns: 320px;
  }
}