.place__url-heading {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .place__ulr-heading {
    line-height: 100%;
  }
}

@media screen and (max-width:570px) {
  .place__url-heading  {
    margin-bottom: 12px;
  }
}
