.photo {
  margin: 0 auto 92px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photo {
  }
}

@media screen and (max-width: 768px) {
  .photo {
    margin-bottom: 88px;
  }
}

@media screen and (max-width:320px) {
  .photo {
    margin-bottom:64px;
  }
}